@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BCIT Option Picker</h1>
    <p class="lead">This web application allows Computer Systems Technology students to choose their option. Log in as an administrator to view and edit option entries. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Created by Hai Ha and Andrew Walsh</h4>
    </div>
</div>
